@model BulkyBook.Models.ViewModels.GroupDealVM

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> @(Model.GroupDeal.DealId != 0 ? "Update" : "Create") Group Deal</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
      <form method="post" enctype="multipart/form-data">

            <input asp-for="GroupDeal.DealId" hidden />

            <div class="col-10 border p-3">
                <div class="form-floating py-2 col-12">
                    <select asp-for="GroupDeal.ProductId" asp-items="@Model.ProductList" class="form-select border-0 shadow">
                        <option disabled selected>-- Select Product --</option>
                    </select>
                    <label asp-for="GroupDeal.ProductId" class="ms-2"></label>
                    <span asp-validation-for="GroupDeal.ProductId" class="text-danger"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    <input asp-for="GroupDeal.OriginalPrice" class="form-control border-0 shadow" />
                    <label asp-for="GroupDeal.OriginalPrice" class="ms-2"></label>
                    <span asp-validation-for="GroupDeal.OriginalPrice" class="text-danger"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    <input asp-for="GroupDeal.GroupPrice" class="form-control border-0 shadow" />
                    <label asp-for="GroupDeal.GroupPrice" class="ms-2"></label>
                    <span asp-validation-for="GroupDeal.GroupPrice" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-6 form-floating py-2">
                        <input asp-for="GroupDeal.StartDate" type="date" class="form-control border-0 shadow" />
                        <label asp-for="GroupDeal.StartDate" class="ms-2"></label>
                        <span asp-validation-for="GroupDeal.StartDate" class="text-danger"></span>
                    </div>
                    <div class="col-6 form-floating py-2">
                        <input asp-for="GroupDeal.EndDate" type="date" class="form-control border-0 shadow" />
                        <label asp-for="GroupDeal.EndDate" class="ms-2"></label>
                        <span asp-validation-for="GroupDeal.EndDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-floating py-2 col-12">
                    <input asp-for="GroupDeal.RequiredUsers" class="form-control border-0 shadow" />
                    <label asp-for="GroupDeal.RequiredUsers" class="ms-2"></label>
                    <span asp-validation-for="GroupDeal.RequiredUsers" class="text-danger"></span>
                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">
                            @(Model.GroupDeal.DealId != 0 ? "Update" : "Create")
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="GroupDeals" asp-action="Index" class="btn btn-outline-primary border form-control">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}
